<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:OmpfXub8W2EaVQ6Wem2lIJXUTdTaTwsXnaSnVfcEv6A="/>
        <env name="IYS_URL" value="https://api.sandbox.iys.org.tr"/>
        <env name="IYS_USERNAME" value="mehmetyilmaz@sirketepostam.com"/>
        <env name="IYS_PASSWORD" value="****"/>
        <env name="IYS_CODE" value="123456"/>
    </php>
</phpunit>
